[Desktop Entry]
Type=Application
Name[af]=Lêers
Name[an]=Fichers
Name[ar]=الملفات
Name[as]=ফাইলসমূহ
Name[ast]=Ficheros
Name[be]=Файлы
Name[bg]=Файлове
Name[bn]=ফাইল
Name[bn_IN]=ফাইল
Name[bs]=Datoteke
Name[ca]=Fitxers
Name[ca@valencia]=Fitxers
Name[crh]=Dosyeler
Name[cs]=Soubory
Name[da]=Filer
Name[de]=Dateien
Name[el]=Αρχεία
Name[en_CA]=Files
Name[en_GB]=Files
Name[eo]=Dosieroj
Name[es]=Archivos
Name[et]=Failid
Name[eu]=Fitxategiak
Name[fa]=پرونده‌ها
Name[fi]=Tiedostot
Name[fr]=Fichiers
Name[fur]=File
Name[ga]=Comhaid
Name[gd]=Faidhlichean
Name[gl]=Ficheiros
Name[gu]=ફાઇલો
Name[he]=קבצים
Name[hi]=फ़ाइल
Name[hr]=Datoteke
Name[hu]=Fájlok
Name[id]=Berkas
Name[is]=Skrár
Name[it]=File
Name[ja]=ファイル
Name[kk]=Файлдар
Name[kn]=ಕಡತಗಳು
Name[ko]=파일
Name[ky]=Файлдар
Name[ln]=Ba Fisyé
Name[lt]=Failai
Name[lv]=Datnes
Name[mk]=Датотеки
Name[ml]=ഫയലുകള്‍
Name[mr]=फाइल्स्
Name[ms]=Fail-fail
Name[nb]=Filer
Name[ne]=फाइलहरू
Name[nl]=Bestanden
Name[nn]=Filer
Name[oc]=Fichièrs
Name[or]=ଫାଇଲଗୁଡିକ
Name[pa]=ਫਾਇਲਾਂ
Name[pl]=Pliki
Name[pt]=Ficheiros
Name[pt_BR]=Arquivos
Name[ro]=Fișiere
Name[ru]=Файлы
Name[sk]=Súbory
Name[sl]=Datoteke
Name[sr]=Датотеке
Name[sr@latin]=Datoteke
Name[sv]=Filer
Name[ta]=கோப்புகள்
Name[te]=దస్త్రాలు
Name[tg]=Файлҳо
Name[th]=แฟ้ม
Name[tr]=Dosyalar
Name[ug]=ھۆججەتلەر
Name[uk]=Файли
Name[vi]=Tập tin
Name[zh_CN]=文件
Name[zh_HK]=檔案
Name[zh_TW]=檔案
Name=Files
Exec=nautilus-desktop
OnlyShowIn=GNOME;Unity;
AutostartCondition=GSettings org.gnome.desktop.background show-desktop-icons
NoDisplay=true
